page-esplora-il-museo {

	.background-esplora{
		background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/img/explore.jpg");
		background-size: 100% 100%;
		color: white;
		font-weight: bold;
	}

	.background-mappa{

		background-image: url("../assets/img/map.png");
		background-size: 100% 100%;
		color: white;
		font-weight: bold;
	}

	.spinner {
	  width: 100%;
	  height: 100%;

	  position: absolute;
	}

	.double-bounce1, .double-bounce2 {
	  width: 60px;
	  height: 60px;
	  border-radius: 50%;
	  background-color: #FFFFFF;
	  opacity: 0.6;
	  position: absolute;
	  top: 300px;
	  left: 150px;
	  
	  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	  animation: sk-bounce 2.0s infinite ease-in-out;
	}

	.text-navigation{
		position: absolute;
	  	top: 370px;
	  	left: 110px;
	  	font-size: 16px;
	  	font-weight: bold;
	}

	.double-bounce2 {
	  -webkit-animation-delay: -1.0s;
	  animation-delay: -1.0s;
	}

	@-webkit-keyframes sk-bounce {
	  0%, 100% { -webkit-transform: scale(0.0) }
	  50% { -webkit-transform: scale(1.0) }
	}

	@keyframes sk-bounce {
	  0%, 100% { 
	    transform: scale(0.0);
	    -webkit-transform: scale(0.0);
	  } 50% { 
	    transform: scale(1.0);
	    -webkit-transform: scale(1.0);
	  }
	}
}
